
<h1>Learning Angular</h1>

<ul>
    <li>
        <a routerLink="/home" routerLinkActive="selectedComp">Home page</a>
    </li>
    <li>
        <a routerLink="/user-list" routerLinkActive="selectedComp">User List</a>
    </li>
    <li>
        <a routerLink="/add-user" routerLinkActive="selectedComp">Add User</a>
    </li>
    <li>
        <a [routerLink]="['/registerUser','101','raja']" routerLinkActive="selectedComp">Registeration</a>
    </li>
    <li>
        <a [routerLink]="['/contact-us']" routerLinkActive="selectedComp">Contact Us</a>
    </li>
    <li>
        <a [routerLink]="['/add-product']" routerLinkActive="selectedComp">Add Product</a>
    </li>
    <li>
        <a [routerLink]="['/products']" routerLinkActive="selectedComp">Product List</a>
    </li>
    <li> 
        <a (click)="sgnOut()">Sign out</a>
    </li>
</ul>
<router-outlet></router-outlet>

